* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #292D33;
    line-height: 1.625;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 6rem;
    padding-left: 1.5rem;
    padding-right: 0.9rem;
    display: none;
}

.mobile-menu__nav {
    list-style: none;
    padding-bottom: 1.875rem;
    margin-bottom: 3.8125rem;
    border-bottom: 1px solid #EBEBF0;
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 1.875rem;
}

.mobile-menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    text-decoration: none;
    color: #292D33;
}

.mobile-submenu__list {
    margin-top: 1.25rem;
    list-style: none;
}

.mobile-submenu__item.header-nav__item:not(:last-child) {
    margin-bottom: .625rem;
}

.mobile-submenu__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.6;
    color: #828A99;
}

.mobile-menu__phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    text-decoration-line: underline;
    color: #292D33;
    margin-bottom: 1.25rem;
}

.mobile-menu__info {
    margin-bottom: 1.25rem;
}

.mobile-menu__info-text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.6;
    color: #292D33;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mobile-menu__info-text+.mobile-menu__info-text {
    margin-top: .6875rem;
}

.mobile-menu__socials {
    display: flex;
    align-items: center;
    list-style: none;
}

.mobile-menu__social-item:not(:last-child) {
    margin-right: .9375rem;
}

.mobile-nav {
    display: none;
    padding: 1.625rem 1.75rem;
    width: 6.5rem;
    height: 100%;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    position: relative;
    z-index: 99;
}

.mobile-nav__line {
    height: 1px;
    width: 100%;
    background-color: #fff;
    transition: transform 0.2s, rotate 0.2s;
}

.mobile-nav__line:nth-child(2) {
    width: 80%;
}

.mobile-nav--active .mobile-nav__line {
    background-color: #292D33;
    transition: transform 0.2s, rotate 0.2s;
}

.mobile-nav--active .mobile-nav__line:nth-child(2) {
    display: none;
}

.mobile-nav--active .mobile-nav__line:nth-child(1) {
    transform: rotate(45deg) translateY(17px);
}

.mobile-nav--active .mobile-nav__line:nth-child(3) {
    transform: rotate(-45deg) translateY(-18px);
}


.header {
    padding-top: 5.875rem;
    min-height: 100vh;
}

.header__image {
    background-image: url('../images/header-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom -3.125rem;
    position: relative;
}

.header__image::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 45, 51, 0.6);
    z-index: 0;
}

.navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    align-items: center;
    height: 5.875rem;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    transition: background-color 0.2s, height 0.2s;
}

.navbar--light {
    height: 4.625rem;
    background-color: #fff;
}

.navbar--light .header-logo-path {
    fill: #292D33;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0px 3.125rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}

.logo-svg {
    width: 9rem;
    height: 2.75rem;
}

.phone-icon {
    fill: #5C8EE6;
}

.mobile-nav {
    display: none;
}

.navbar__btn-icon {
    display: none;
    fill: #FFF;
}

.header-nav {
    padding: 0 2.8125rem;
    display: flex;
    flex-basis: 100%;
    list-style: none;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.navbar--light .header-nav__link {
    color: #292D33;
}

.header-nav__item:not(:last-child) {
    margin-right: 3.125rem;
}

.header__phone {
    margin-right: 3.125rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: .625rem;
}

.header-phone__link {
    text-decoration: none;
    color: #fff;
}

.navbar--light .header-phone__link {
    color: #292D33;
}

.navbar__btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.button {
    font-weight: 600;
    padding: 1.5625rem 3.0625rem;
    font-size: 1rem;
    line-height: 1.625;
    background-color: #5C8EE6;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #3A71D1;
}

.separator {
    margin-bottom: 1.5625rem;
    width: 150px;
    height: 2px;
    background-color: #5C8EE6;
}

.header__content {
    padding: 9.375rem 0 6.25rem;
    position: relative;
    z-index: 1;
    color: #fff;
}

.header__title {
    margin-bottom: 2.25rem;
    max-width: 67.5rem;
    font-size: 5rem;
    line-height: 1.2;
    font-family: 'Bebas Neue Book';

    letter-spacing: .05rem;
    /* word-spacing: -1.6px; */
}

.header__text {
    margin-bottom: 3.125rem;
    max-width: 45rem;
}

.header__btn {
    padding: 1.5625rem 3.75rem;
    min-width: 19.5625rem;
}

.header-features {
    display: flex;
    position: relative;
    color: #fff;
    min-height: 10.5rem;
    list-style: none;
}

.header-features__item {
    padding: 2.0625rem 3.125rem 1.875rem 3.125rem;
    width: 18rem;
    border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features__item:not(:last-child) {
    border-right: none;
}

.header-features__img {
    display: block;
    margin-bottom: 1.5rem;
}

/* work cheme */

.work-cheme {
    padding: 9.375rem 0 6.25rem;
}

.work-cheme__title {
    margin-bottom: 3.125rem;
}

.section-title {
    font-family: 'Bebas Neue Book';
    font-size: 3.75rem;
    line-height: 1.2;
}

.work-cheme__list {
    display: flex;
    list-style: none;
    gap: 1.875rem;
}

.work-cheme__item {
    max-width: 20.625rem;
}

.work-cheme__item:nth-child(3) .work-cheme__text {
    padding-right: 1.625rem;
}

.work-cheme__item:nth-child(4) .work-cheme__text {
    padding-right: 1.8125rem;
}

.work-cheme__num {
    position: relative;
    font-size: 3rem;
    line-height: 1.2;
    color: #5C8EE6;
    font-family: 'Bebas Neue Book';
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;
}

.work-cheme__num::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 16.25rem;
    height: .0625rem;
    background-color: #EBEBF0;
}

.work-cheme__suntitle {
    max-width: 15.625rem;
    font-size: 1.75rem;
    line-height: 1.6;
    margin-bottom: .875rem;
    font-weight: 400;
}


.work-cheme__text {
    margin-bottom: 1.25rem;
    color: #828A99;
}

.work-cheme__link {
    padding-left: 3.75rem;
    position: relative;
    font-weight: 600;
    font-size: 1rem;
    color: #5C8EE6;
    text-decoration: none;
}

.work-cheme__link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: .0625rem;
    width: 2.5rem;
    background-color: #5C8EE6;
}


@media (max-width: 1700px) {
    html {
        font-size: 14px;
    }

    .header__image {
        background-position: center;
    }
}


@media (max-width: 1560px) {
    .logo {
        padding: 0px .9375rem;
    }

    .header-nav {
        padding: 0 0 0 1.25rem;
    }

    .header-nav__item:not(:last-child) {
        margin-right: 1.5rem;
    }

    .header__phone {
        margin-right: 1.875rem;
    }

    .header__phone {
        margin-right: 1.5rem;
    }
}

@media (max-width: 1460px) {

    html {
        font-size: 12px;
    }

    .logo-svg {
        max-width: 6rem;
    }
}


@media (max-width: 1200px) {

    .container {
        max-width: 70rem;
    }

    /* .header__content {
        padding: 8.375rem .625rem 5.25rem .625rem;
    } */

    .header__phone {
        display: none;
    }

    .navbar {
        height: 5.5rem;
    }

    .button {
        padding: 1.5625rem 2rem;
    }
}

@media (max-width: 992px) {

    .container {
        max-width: 60rem;
    }

}

@media (max-width: 960px) {

    .navbar__btn-text {
        display: none;
    }

    .navbar__btn-icon {
        display: block;
    }
}

@media (max-width: 800px) {
    .header-nav {
        display: none;
    }

    .logo {
        flex-grow: 1;
        justify-content: center;
        border-right: none;
    }

    .navbar__btn {
        min-width: 5rem;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar--light .mobile-nav__line {
        background-color: #292D33;
    }

    .mobile-menu.is-open {
        display: block;
    }

}