* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #292D33;
    line-height: 1.625;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    min-height: 100vh;
}

.header__image {
    background-image: url('../images/header-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header__image::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 45, 51, 0.6);
    z-index: 0;
}

.navbar {
    display: flex;
    align-items: center;
    height: 94px;
    position: relative;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
}

.logo {
    padding: 25px 50px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}

.header-nav {
    padding: 0 50px;
    display: flex;
    flex-basis: 100%;
    list-style: none;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__item:not(:last-child) {
    margin-right: 50px;
}

.header__phone {
    margin-right: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-phone__link {
    text-decoration: none;
    color: #fff;
}

.header__btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.button {
    font-weight: 600;
    padding: 25px 60px;
    font-size: 16px;
    line-height: 1.625;
    background-color: #5C8EE6;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #3A71D1;
}

.separator {
    width: 150px;
    height: 2px;
    background-color: #5C8EE6;
}

.header__content {
    padding: 150px 0 100px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.header__title {
    margin-bottom: 30px;
    max-width: 1080px;
    font-size: 80px;
    line-height: 1.2;
    font-family: 'Bebas Neue Book';
}

.header__text {
    margin-bottom: 50px;
    max-width: 720px;
}

.header-features {
    display: flex;
    position: relative;
    color: #fff;
    min-height: 168px;
    list-style: none;
}

.header-features__item {
    padding: 33px 50px 30px;
    border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features__item:not(:last-child) {
    border-right: none;
}

.header-features__img {
    display: block;
    margin-bottom: 24px;
}